#wrap{
    margin: 0 auto;
    width:680px;
    height: 350px;
    background: #ff80ab url("../img/logo.gif") no-repeat 308px 35px;
    padding: 110px 55px 40px 65px;
}
#box{
    width: 682px;
    height: 351px;
    background: #ffffff;
}
a{
    text-decoration: none;

}
#down a:hover span{
    color: #e15671;
}
#up{
    width: 680px;
    height: 139px;
    background: #fff3f7 url("../img/sublogo.gif") no-repeat 244px 30px;
    border: 1px solid #ffffff;
    text-align: center;
}
#up span{
    display: inline-block;

    font: 19px/23px "宋体";
    padding-top: 87px;
    color: #595959;
}
#down{
    width: 680px;
    height: 208px;
    padding:30px 0px 0px 11px;
}
#down span{

    display: inline-block;

    font-size:15px;
    font-family:"宋体";
    color:#000000;
    border-right: 1px solid #000000;
    padding-right: 20px;
    padding-left: 20px;
}
.word{
    height: 48px;

}
#down .de{
    border-right: none;
}
#down .pe{
    padding-left: none;
}